<form method="post" action="/articles/<%= @article.id %>">
  <input type="hidden" name="_method" value="PATCH">
  <ul>
    <li>
  <input id="title" type="text" name="article[title]" value="<%= @article.title %>">
    </li> 
    <li>
  <textarea id="content" type="text" name="article[content]"><%= @article.content %></textarea>
    </li>
    </ul>
  <input type="submit" value="submit">
</form>
